DE0_NANO_MotorDrive/*.done
DE0_NANO_MotorDrive/*.rpt
DE0_NANO_MotorDrive/*.summary
DE0_NANO_MotorDrive/*.jdi
DE0_NANO_MotorDrive/*.smsg
DE0_NANO_MotorDrive/*.pin
DE0_NANO_MotorDrive/*.cdf
DE0_NANO_MotorDrive/*.bak
DE0_NANO_MotorDrive/*.qws
DE0_NANO_MotorDrive/*.qarlog
DE0_NANO_MotorDrive/ip\*.bak
DE0_NANO_MotorDrive/qsys\*.rpt
DE0_NANO_MotorDrive/output_files/*.rpt
DE0_NANO_MotorDrive/output_files/*.pin
DE0_NANO_MotorDrive/output_files/*.summary
DE0_NANO_MotorDrive/output_files/*.done
DE0_NANO_MotorDrive/output_files/*.smsg
DE0_NANO_MotorDrive/output_files/*.jdi
DE0_NANO_MotorDrive/output_files/*.cdf
DE0_NANO_MotorDrive/db
DE0_NANO_MotorDrive/incremental_db
DE0_NANO_MotorDrive/greybox_tmp
