*.done
*.rpt
*.summary
*.jdi
*.smsg
*.pin
*.cdf
*.bak
*.qws
*.qarlog
ip\*.bak  
qsys\*.rpt  
output_files/*.rpt
output_files/*.pin 
output_files/*.summary 
output_files/*.done 
output_files/*.smsg 
output_files/*.jdi 
output_files/*.cdf 

/db
/incremental_db
/greybox_tmp