<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="RobotName" default="/robot"/>
  <arg name="WheelNum" default="1"/>
  <arg name="Mode" default="0"/>
  <!-- 0 : PosControl Mode, 1 : FeedBack Mode -->
  <!-- <rosparam command="load" file="$(find gpio_ctrl)/config/motor_pin.yaml" ns="/real$(arg RobotName)"/> -->

  <node
    pkg="digital_twin"
    type="motor_control"
    name="digital_wheel$(arg WheelNum)"
    output="screen"
    respawn="false"
    respawn_delay="0"
    args="
        -r $(arg RobotName)
        -n $(arg WheelNum)
        -m $(arg Mode)"/>
</launch>
